/* HEADER */

header {
    position: relative;
    background: #1e293b;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.logo-right {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 60px;
}

header h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

header p {
    opacity: 0.9;
}

/* TABS */

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.tab-btn {
    padding: 12px 20px;
    border: none;
    background: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
    border: 1px solid #ddd;
}

.tab-btn:hover {
    background: #e2e8f0;
}

.tab-btn.active {
    background: #2563eb;
    color: white;
}

/* CONTENT */

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* SEARCH */

#searchInput {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 25px;
    font-size: 16px;
}

/* RESULTS */

#results {
    display: flex;
    flex-direction: column;
    gap: 20px;
}